{% extends "layout/base.html" %}

<!--
наследие базового шаблона с командами шаблонизатора,
шаблон таблицы с выводом всех объектов из БД, с выводом ресторана, который имеет самый высокий рейтинг
-->

{% block title %}Главная страница{%endblock%}

{% block content %}
    <div>
        <table align="left" border="3" width="700" cellpadding="10">
            <caption>Рейтинг ресторанов</caption>
            <thead align="center">
                <tr>
                    <th colspan="5"><a href="{% url 'index' %}">Список Ресторанов</a></th>
                </tr>
            </thead>
            <thead align="center">
                <tr>
                    <th>Рестораны</th>
                    <th width="50%">Описание</th>
                    <th>Адрес</th>
                    <th>Почта</th>
                    <th>Рейтинг</th>
                </tr>
            </thead>
            {% for list in lists %}
            <tbody>
                <tr>
                    <td><a href="{% url 'detail' list.id %}">{{ list.title }}</a></td>
                    <td>{{ list.description }}</td>
                    <td>{{ list.address }}</td>
                    <td>{{ list.mailbox }}</td>
                    <td>{{ list.rating }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <table border="1" align="right" width="400" cellpadding="10">
            <thead align="center">
                <tr>
                    <th colspan="5">Лучший ресторан</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Ресторан</th>
                    <th width="60%">Описание</th>
                    <th>Адрес</th>
                    <th>Почта</th>
                    <th>Рейтинг</th>
                </tr>
            </thead>
            <tbody>
            {% for top in tops %}
                <tr>
                    <td>{{ top.title }}</td>
                    <td>{{ top.description }}</td>
                    <td>{{ top.address }}</td>
                    <td>{{ top.mailbox }}</td>
                    <td>{{ top.rating }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <h1 align="center"><a href="{% url 'add' %}">Добавить новый ресторан</a></h1>
{% endblock %}
