<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <table align="center" border="1" width="1200" cellpadding="30">
        <caption>Рейтинг ресторанов</caption>
            <thead align="center" >
                <tr>
                    <th colspan="4">Список Ресторанов</th>
                </tr>
            </thead>
            <thead align="center">
                <tr>
                    <th>Рестораны</th>
                    <th width="50%">Описание</th>
                    <th>Рейтинг</th>
                    <th>Лучший ресторан</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td><td></td><td></td><td></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
