{% extends "layout/base.html" %}

{% block title %}Ресторан{% endblock %}

{% block content %}
<table align="center" border="1" width="1200" cellpadding="30">
    <caption><a href="{% url 'index' %}">Рейтинг ресторанов</a></caption>
    <thead align="center">
        <tr>
            <th colspan="4">Детальный обзор</th>
        </tr>
    </thead>
    <thead align="center">
    <tr>
        <th>Ресторан</th>
        <th width="50%">Описание</th>
        <th>Рейтинг</th>
        <th><a href="{% url 'top' %}">Лучший ресторан</a></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ list.title }}</td><td>{{ list.description }}</td><td>{{ list.rating }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}