{% extends "layout/base.html" %}

<!--
наследие базового шаблона с командами шаблонизатора,
шаблон таблицы с выводом детального обзора объекта из БД
-->

{% block title %}Ресторан{% endblock %}

{% block content %}
<table align="center" border="1" width="1200" cellpadding="30">
    <caption><a href="{% url 'index' %}">Рейтинг ресторанов</a></caption>
    <thead align="center">
        <tr>
            <th colspan="6"><a href="{% url 'detail' list.id %}">Детальный обзор</a></th>
        </tr>
    </thead>
    <thead align="center">
    <tr>
        <th>Ресторан</th>
        <th width="50%">Описание</th>
        <th>Адрес</th>
        <th>Почта</th>
        <th>Рейтинг</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ list.title }}</td>
            <td>{{ list.description }}</td>
            <td>{{ list.address }}</td>
            <td>{{ list.mailbox }}</td>
            <td>{{ list.rating }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
